
blockquote {
	padding: 16px;
	border: 10px solid #C2CCCA;
	width: 250px;
	/*border-box calcula começando das bordas*/
	box-sizing: border-box;
	margin: 0;
}

blockquote, aside, footer {
	padding: 20px;
}