body {
	/*Testa as fontes da esquerda para direita, verifica se o usuário possui a fonte*/
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 20px;
	/*espaço entre as linhas*/
	line-height: 1.5;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h2 {
	font-size: 30px;
}

/*h1 é um seletor do css e font-size é o estilo que será aplicado*/
.titulo-principal {
	text-align: center;
	background-color: #851944;
	color: #FFF;
	font-size: 60px;
	padding: 25px;
	margin: 0;
	border-bottom: 10px solid black;
	text-transform: uppercase;
}

p {
	text-align: justify;
	margin: 20px 0;
}

.citacao {
	margin: 20px 40px;
	background-color: #D9E5E3;
}

.navegacao-site {
	background-color: #3C1D3D;
	color: #F2FFFC;
	padding: 20px;
	text-align: center;
}

footer {
	background-color: #000;
	color: #F2FFFC;
}

article {
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

article footer {
	background-color: initial;
	color: initial;
}

nav a {
	color: #F2FFFC;
}

main a {
	color: #851944;
}

.navegacao-site h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

/* inherit: esse valor faz com que a propriedade assuma o valor que foi definino em seu pai*/
.navegacao-site a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
	text-transform: lowercase;
}

.conteudo-principal {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

blockquote, aside, footer {
	padding: 20px;
}

/*display: block = empilhar, inline = do lado(sempre fica com o tamanho da fonte), inline-block = permite definir os tamanho do inline*/

.icone-rede-social {
	display: inline-block;
}

.icone-rede-social a{
	display: block;
	height: 40px;
	width: 40px;
	font-size: 0;
}

.icone-github {
	background-image: url(github.png);
}

.icone-twitter {
	background-image: url(twitter.png);
}

.icone-linkedin {
	background-image: url(linkedin.png);
}

.leia-mais {
	padding: 8px;
	margin: 16px;
	display: block;
	font-size: 24px;
	text-align: center;
	background-color: #E6E7E8;
}